@charset "UTF-8";

/* ================= KEYFRAMES ================= */
@keyframes show-up {
    from {
        transform: scale(0.1);
    }

    to {
        transform: scale(1);
    }
}



/* ================= GLOBAIS ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;

    min-height: 100vh;
}

:root {
    /* ================= PALETA ================= */
    --board-line-color: rgb(40, 40, 40);

    --circle-color: #3E3EF4;
    --circle-hover-color: #5f5ffe;

    --cross-color: #E41C62;
    --cross-hover-color: #fd5992;
}


/* ================= HEADER ================= */
header {
    padding: 1em;
}

header h1 {
    text-align: center;
}



/* ================= MAIN ================= */
main {
    display: grid;
    place-items: center;
    padding: clamp(1em, 5vw, 8em);
}

/* ======== JOGO ======== */
#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: clamp(0.5em, 2%, 1.5em);

    aspect-ratio: 1 / 1;
    width: clamp(10em, 100%, 30em);
    height: auto;

    background-color: var(--board-line-color);
}

/* Cada célula do grid */
.boardSpace {
    display: grid;
    place-items: center;
    padding: 0.5em;

    background-color: white;
    border: none;
}

/* Todo SVG do cross e do circle */
svg {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

/* ======== CIRCLE ======== */
.circleItem {
    display: none;
    stroke: var(--circle-color);
}

/* Quando adicionar a classe markedCircle, mostre o círculo */
.markedCircle .circleItem {
    display: block;
    animation: show-up 0.3s ease-in-out;  /* Animação de aparecer */
} 

.markedCircle .circleItem:hover {
    stroke: var(--circle-hover-color);
    transform: scale(1.3);
}


/* ======== CROSS ======== */
.crossItem {
    display: none;
    fill: var(--cross-color);
}

/* Quando adicionar a classe markedCircle, mostre o X */
.markedCross .crossItem {
    display: block;
    animation: show-up 0.3s ease-in-out;  /* Animação de aparecer */
}

.markedCross .crossItem:hover {
    fill: var(--cross-hover-color);
    transform: rotate(90deg);
}


/* ======== BOTÃO RESET ======== */
#resetBtn {
    margin-top: 2em;
    padding: 0.5em;
}


/* ================= FOOTER ================= */
footer {
    padding: 1em;
}

footer p {
    text-align: center;
    margin: 0.25em 0;
}